/* Import the Montserrat font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

/* Apply Montserrat as the default font for all elements */
* {
    font-family: 'Montserrat', sans-serif;
    margin: auto 0;
    letter-spacing: -0.01em;
}

/* Navigation bar */
nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 0.5rem;
}

/* Content within the navigation bar */
.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

/* Navigation links */
.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    flex-grow: 1;
}

.nav-links li {
    margin: 0.5rem;
}

.nav-links a {
    text-decoration: none;
    color: #000;
    transition: color 0.3s;
}

/* Navigation links on hover and when active */
.nav-links a:hover,
.nav-links a:active {
    color: #FFA500;
}

/* "Resume" link */
.nav-links #resume a {
    color: #FFA500;
}

/* Home header section */
.home {
    margin: 8em;
    padding: 8em;
}

.home div p {
    font-size: 2.5em;
}

/* About section */
.about {
    background-image: url('../img/about-frame.png');
    background-size: 133%;
    background-repeat: no-repeat;
    background-position: 39% center;
    padding: 16em 0 25em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 4.25em;
}

.about-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 6em 7em 7em 7em;
    flex-grow: 1;
    font-size: 1.5em;
    line-height: 1.5em;
  }